 .u-section-1 {
  min-height: 798px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 798px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 798px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 758px;
  height: 635px;
  margin: 51px auto 0 -316px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 10.5rem;
  line-height: 1;
  font-weight: 600;
  margin: -443px 0 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 1;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 658px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 658px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 578px;
    margin-top: 0;
    margin-left: -225px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -334px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 504px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-1 .u-image-1 {
    width: 483px;
    height: 424px;
    margin-top: 10px;
    margin-left: -153px;
  }

  .u-section-1 .u-text-3 {
    font-size: 8rem;
    margin-top: -231px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 378px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 590px;
    height: 497px;
    margin-top: -76px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -218px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 238px;
  }

  .u-section-1 .u-image-1 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}